.about {
    background-color: var(--color-bg);

    & main {
        display: flex;
        justify-content: space-between;
    }

    & figure {
        height: 100%;
        width: 40%;
        background-color: var(--color-bg);
        background-color: darkblue;

    }

    & section {
        // border: red solid 1px;
        height: 100%;
        width: 100%;
    }
}

.about__infos {
    padding: 2.5rem;
    
    & h1 {
        font-size: var(--font-size-3xl);
    }

    & p {
        font-size: var(--font-size-xl);
        max-width: 60%;
    }
}