html, body {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color-on-bg);
    //scroll-behavior: smooth;
    font-family: "Inter Tight", sans-serif;
    overflow: hidden;
    // outline:4px solid magenta;

}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    // background-color: cyan;
    // max-height:100%;
    overflow: auto;
}



@include for-tablet-portrait-up {
    .root {
        display: flex;
        justify-content: center;
        align-items: center;
        // max-height: 100vh;
        overflow:hidden;
        // border:dashed 4px orangered;
    }
 

}


    .bg-purple {
        background-color: rgba($color: #7064a5, $alpha: 1);
        filter: brightness(85%);
    }
    
    .bg-yellow {
        background-color: rgba($color: #f2f046, $alpha: 1);
        filter: brightness(85%);
    }
    
    .bg-grey {
    
        background-color: rgba($color: #535150, $alpha: 1);
        filter: brightness(85%);

    }
    
    .bg-skyblue {
        background-color: rgba($color: #4c8ec2, $alpha: 1);
        filter: brightness(85%);

    }
    
    .bg-pink {
        background-color: rgba($color: #f98f84, $alpha: 1);
        filter: brightness(85%);
    }
    
    .bg-green {
        background-color: rgba($color: #439a7c, $alpha: 1);
        filter: brightness(85%);
    }
    
    .bg-blue {
        background-color: rgba($color: #588dcf, $alpha: 1);
        filter: brightness(85%);
    }
    
    .bg-brown {
        background-color: rgba($color: #b78e68, $alpha: 1);
        filter: brightness(85%);
    }
    
    .bg-orange {
    // background-color: #FEA347;
        background-color: rgba($color: #fb6832, $alpha: 1);
        filter: brightness(85%);
    }

    .bg-black {
        background-color: rgba($color: #111111, $alpha: 1);
        filter: brightness(85%);
    }

    .bg-nightblue {
        background-color: rgba($color: #00032d, $alpha: 1);
        filter: brightness(85%);
    }

    .bg-success {
        background-color: rgba($color: #16B84E, $alpha: 1);
        filter: brightness(85%)
    }

    .bg-error {
        background-color: rgba($color: #FE1B00, $alpha: 1);
        filter: brightness(85%);
    }