a, .link {
    color: var(--color-on-bg);
    text-decoration: none;
    display: block;
    position: relative;
    padding: 0.2em 0;
    white-space: nowrap;
}

@include for-tablet-portrait-up {
    a, .link {
        color: var(--color-on-bg);
        text-decoration: none;
        display: block;
        position: relative;
        padding: 0.2em 0;
        white-space: nowrap;
    }
    
    .link::before,
    .link::after {
        position: absolute;
        width: 100%;
        height: 1px;
        background: currentColor;
        top: 100%;
        left: 0;
        pointer-events: none;
    }
    
    .link::before {
        content: '';
        /* show by default */
    }
    
    .link::before {
        transform-origin: 100% 50%;
        transform: scale3d(0, 1, 1);
        transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    }
    
    .link:hover::before {
        transform-origin: 0% 50%;
        transform: scale3d(1, 2, 1);
        transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
    }
    
    .link::after {
        content: '';
        top: calc(100% + 4px);
        transform-origin: 100% 50%;
        transform: scale3d(0, 1, 1);
        transition: transform 0.4s 0.1s cubic-bezier(0.2, 1, 0.8, 1);
    }
    
    .link:hover::after {
        transform-origin: 0% 50%;
        transform: scale3d(1, 1, 1);
        transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
    }
    
}